## ignore swap files
*.swp

## ignore Rplots.pdf trash files
*Rplots.pdf

## ignore nf.logs
.nextflow.log*
.nextflow/

## ignore workdirw
work*

## Ignore test subdirectories from mkmodules
mkmodules/*/test/results/*

## ignore intermediate and logs from tests
test/data/*/intermediate/
test/data/*/logs/
test/results*

## ignore local R datas
*.Rdata
*.Rhistory

## ignore real data dirs
real-data

## ignore vestigial files
*/*/all_samples_trim_report.log

## ignore modules markedas REDO - means, in need of refactoring or remaking
*REDO

#ignore ref genome
bin/ref_genomes/GCF_000001635.27_GRCm39_genomic.fna
