process {

/* Executor parameters */
name = 'local'
/* maximum number of CPUs made available by the underlying system */
	cpus = 14
//        errorStrategy='retry'
//errorStrategy = 'ignore'

}

params {

/* parameters for trimming */

pe= true // is the data paired end, or single end (cannot be mixed...)


trim_avgqual=25
trim_trailing=25
trim_minlen=100


/* Reference genomes*/
host = false
PhiX = "./bin/ref_genomes/PhiX_NC_001422.1.fasta"

/* BINS QUALITY */

 /* high quality params */
min_completeness_hq = 80
max_contamination_hq = 20

/* Medium quality params */
medium_quality_bins = true
min_completeness_mq = 40
max_contamination_mq = 25

}

/* Docker params, comment to run without docker*/
// process.container = 'nf-metagenome'
docker.enabled = true
docker.runOptions = '-u $(id -u):$(id -g)'
